body {
    background-color: rgb(195,196,195);
}

span {
    font-size: 10px;
}

img {
    border-radius: 5px;
}

.header {
    font-family: Garamond;
    margin-top: 25px;
    margin-bottom: 15px;
    text-align: center;
}

table, td {
	border: 1px #70b8ff dashed;
	text-align: center;
}

.top-left-panel {
    float: left;
    width: 50%;
}

.top-left-panel img {
    width: 250px;
    height: 200px;
}

.top-left-panel table, td {
    border: none;
}

.epi {
    float: right;
    position: relative;
}

.epi img {
    width: 175px;
    height: 150px;
}

.raw_rest_img img {
    width: 280px;
    height: 140px;
}

.epi td {
    border: none;
}

.params {
    float: left;
    width: 40%;
    position: relative;
}

.params td {
    border: collapse-border;

}

.params th {
    border-bottom: 1px #70b8ff solid;

}

.params .column-names {
    border-bottom: 1px blue solid;
    font-weight: bold;
}

.grayords {
    float: right;
    position: relative;
}

.grayords img {
    width: 350px;
    height: 300px;
}

.out-of-range {
    color: red;
}

button{
    cursor:pointer;
    display: inline-block;
    height:20px;
	width:70px;
	font-family:arial;
	font-weight:bold;
	text-align:center;
	margin-top:2px;
}
